new{
    font-size:22px;
}
*{
    margin:0;
    padding:0;
    box-sizing:  border-box;
}
img{display : block ;}
.offscreen{
    position: absolute;
    left:-10000px;
}
body{
    font-size:22px;
    background-image: linear-gradient(to right top, #f2850e, #e3a437, #d7bd63, #d2d191, #d7e1bf);
    color:black;
}
.hero{
    border-bottom:2px solid black;
padding:20px;
display:flex;
justify-content:flex-start;
align-items: center;
background-color:blanchedalmond;
background-image: url('../design.jpg ');
background-repeat: repeat;


}
.h1{
    font-size:500%;
}
.profile-pic-figure{
    width:35%;
}
.profile-pic-figure img{
    width:80%;
    height :auto;
    min-width:100px;
    border:5px double gray;
    border-radius:50%;
}
 

 h2{
    color:rgb(46, 17, 175);
    
    
}
#comedy{
    font-family: Arial;
}
a {
    color: black(225, 242, 225);
g
}
a:visited {
    color: black;
}
a:hover , a:active {
    color: yellow;
}
table, th, tr, td, caption {
    border: 5px solid #eee;
    font-family: 'Courier New' ,Courier,monospace;
    border-collapse: collapse;
    padding:1rem;
}